<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            <%= title.charAt(0).toUpperCase() + title.slice(1) %> | BAGUN
        </title>
        <%- include('static/head') %>
        <link rel="stylesheet" href="/static/css/layouts/snake.css" />
    </head>
    <body>
        <%- include('static/header') %>
        <main>
            <div class="player-cards">
                <% players.forEach(player => { %>
                <section>
                    <header>
                        <img src="<%= player.pictureURL %>" />
                    </header>
                    <div class="content">
                        <a href="<%= player.id %>">
                            <h2><%= player.name %></h2>
                        </a>
                        <span><%= player.age %>, <%= player.country %></span>
                    </div>
                </section>
                <% }) %>
            </div>
        </main>
        <%- include('static/footer') %>
    </body>
</html>
