<article class="card" style="background-image: url('<%= player.picture %>')">
    <header>
        <h3><%= player.name %></h3>
        <hr />
        <div class="intro"><%= player.position %></div>
    </header>
    <div class="card-info"><%= player.description %></div>
    <footer>
        <ul>
            <li class="age"><%= player.age %></li>
            <li class="country"><%= player.country %></li>
        </ul>
    </footer>
    <div class="gradient-overlay"></div>
    <div class="color-overlay"></div>
</article>
