<!DOCTYPE html>
<html lang="en">
    <head>
        <title>BAGUN | <%= content.title %></title>
        <%- include('static/head') %>
        <link rel="stylesheet" href="/css/layouts/text.css" />
    </head>
    <body>
        <%- include('static/header') %>
        <main>
            <div class="big-text">
                <h1><%= content.title %></h1>
                <% content.body.split('\n').forEach(paragraph => { %>
                <p><%= paragraph %></p>
                <% }) %>
            </div>
        </main>
        <%- include('static/footer') %>
    </body>
</html>
