<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= title %> | BAGUN</title>
        <%- include('static/head') %>
        <link
            rel="stylesheet"
            href="/css/layouts/snake.css"
            media="print"
            onload="this.media='all'"
        />
    </head>
    <body>
        <%- include('static/header') %>
        <main>
            <div class="player-cards">
                <% players.forEach(player => { %>
                <section>
                    <header>
                        <img
                            src="<%= player.picture %>"
                            alt="<%= player.name %>'s picture"
                        />
                    </header>
                    <div class="content">
                        <a href="/divisions/players/<%= player.slug %>">
                            <h2><%= player.name %></h2>
                        </a>
                        <span><%= player.age %>, <%= player.country %></span>
                    </div>
                </section>
                <% }) %>
            </div>
        </main>
        <%- include('static/footer') %>
    </body>
</html>
