<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('static/head') %>
        <link rel="stylesheet" href="/css/layouts/form.css" />
    </head>
    <body>
        <%- include('static/header') %>
        <main>
            <div class="form">
                <header>
                    <h1><%= title %></h1>
                </header>
                <form action="<%= action %>" method="POST">
                    <% fields.forEach(field => { %>
                    <div class="form-group">
                        <input
                            type="<%= field.type %>"
                            autocomplete="<%= field.name %>"
                            placeholder="<%= field.name %>"
                            name="<%= field.name %>"
                            spellcheck="false"
                            <%
                            if
                            (field.required)
                            {
                            %
                        />
                        required <% } %> />
                        <label><%= field.name %></label>
                    </div>
                    <% }) %>
                    <div class="form-group">
                        <button type="submit" id="submit"><%= title %></button>
                    </div>
                </form>
            </div>
        </main>
        <%- include('static/footer') %>
    </body>
</html>
