<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('static/head') %>
        <link
            rel="stylesheet"
            href="/css/layouts/form.css"
            media="print"
            onload="this.media='all'"
        />
        <script src="/js/form.js" defer type="module"></script>
    </head>
    <body>
        <%- include('static/header') %>
        <main>
            <div class="form">
                <header>
                    <h1><%= title %></h1>
                </header>
                <form action="/join" method="POST">
                    <% fields.forEach(field => { %>
                    <div class="form-group">
                        <input 
                            type="<%= field.type %>" 
                            name="<%= field.name %>" 
                            autocomplete="<%= field.name %>" 
                            placeholder="<%= field.name %>" 
                            <% if (field.name === 'age') { %> min="1" <% } %>
                        />
                        <label><%= field.name %></label>
                    </div>
                    <% }) %>
                    <span class="error-message"></span>
                    <div class="form-group">
                        <button type="submit" id="submit"><%= title %></button>
                    </div>
                </form>
            </div>
        </main>
        <%- include('static/footer') %>
    </body>
</html>
